/* setting the basic design styles. Mostly just the text, the parapraphs or headlines */
body {
    background-color: #a9e2fa; 
}

h1, 
h2 {
    color: #0d0e0e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #3290A6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color: #1c1b1a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #1d82e6;
}

#finalScore {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

span {
    font-family: 'Archivo', sans-serif;
}

p {
    font-family: 'Archivo', sans-serif;
}

#questionTitle {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#answerCheck {
    font-style: italic;
    color: #4D5159;
}